[submodule "testgoogletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "build/googletest"]
	path = build/googletest
	url = https://github.com/google/googletest.git
